<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_headpartial")
</head>
<body class="hold-transition skin-yellow sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_Header")
        @Html.Partial("_Sidebar")
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.Description</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#">@ViewBag.Description</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>

            <section class="content">
                @RenderBody()
            </section>
        </div>
    </div>

        @RenderSection("scripts", required: false)
</body>
</html>
